.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin 2s linear;
  height: 80px;
}


.App-header {
  background-color: #222;
  height: 200px;
  padding: 0px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: small;
}

@keyframes App-logo-spin {
  from {
    transform: scale(3.0) rotate(0deg);
  }
  to {
    transform:scale(1.0) rotate(360deg);
  }
}
